---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - todo.jakuboskera.dev
  resources:
  - tasks
  - todoendpoints
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - todo.jakuboskera.dev
  resources:
  - tasks/finalizers
  verbs:
  - update
- apiGroups:
  - todo.jakuboskera.dev
  resources:
  - tasks/status
  - todoendpoints/status
  verbs:
  - get
  - patch
  - update
