---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.1
  name: todoendpoints.todo.jakuboskera.dev
spec:
  group: todo.jakuboskera.dev
  names:
    kind: TodoEndpoint
    listKind: TodoEndpointList
    plural: todoendpoints
    singular: todoendpoint
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.url
      name: URL
      type: string
    - jsonPath: .status.ready
      name: Ready
      type: boolean
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: TodoEndpoint is the Schema for the todoendpoints API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TodoEndpointSpec defines the desired state of TodoEndpoint
            properties:
              apiSecretRef:
                description: APISecretRef refers to a Secret in the same namespace
                  that contains the API key
                properties:
                  key:
                    description: Key is the key inside the Secret whose value will
                      be used as the API key
                    type: string
                  name:
                    description: Name is the name of the Secret in the same namespace
                      as the TodoEndpoint
                    type: string
                required:
                - key
                - name
                type: object
              url:
                description: URL is the base address of the Todo API instance, e.g.
                  "http://my-todo.example.com"
                pattern: ^https?://.+
                type: string
            required:
            - apiSecretRef
            - url
            type: object
          status:
            description: TodoEndpointStatus defines the observed state of TodoEndpoint
            properties:
              message:
                description: Message contains an error description when Ready is false
                type: string
              ready:
                description: |-
                  Ready indicates whether the endpoint was successfully validated
                  (Secret exists and contains the expected key)
                type: boolean
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
